<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Register</title>
</head>
<body>
	<h1>Register</h1>
	<form  name = "registerForm">

		<label>Username</label><br/>
		<input name = "username" type="text" data-ng-model = "$parent.user.username" class="form-control"  required><br/>  
	
	 	<label>Password</label><br/>
		<input id="pass" name = "password" type="password" data-ng-model = "$parent.user.password" class="form-control"  required><br/><br/>
	
		<label>Repeat password</label><br/>
		<input id="passRepeat" type="password" class="form-control"  required><br/><br/>
			
		<label>Role</label><br/>
		<label>
	    <input type="radio" data-ng-model="$parent.user.role" value="BUYER" required>
	    Buyer
	  	</label><br/>
	  	<label>
	    <input type="radio" data-ng-model="$parent.user.role" value="MANAGER">
	    Manager
	  	</label><br/>
	  	<label>
	    <input type="radio" data-ng-model="$parent.user.role" value="SELLER">
	    Seller
	  	</label><br/>
		<button class="btn btn-default" data-ng-click="registerForm.$valid && submitRegistration()">Sign up</button>
		<button class="btn btn-default" data-ui-sref="login">Cancel </button>
	</form>
</body>
</html>